body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#header {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%;
}

#contents { 
    width: 50%;
    background-color: black;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
}

#button {
	background-color:#ffcc00;
    border-radius:6px;
    border-color: #003f5c;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	padding:13px 74px;
	text-decoration:none;
}

.post {
    width: 70%;
    background-color: #1a1a1b;
    display: flex;
}

.updownvote {
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
    padding-top: 10px;
}

.postTheme {
    color: #818384;
}

.postMain {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding-top: 10px;
}

img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0px 5px;
}

.postMeta {
    color: #818384;
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
}

.postTitle {
    padding: 15px 0px;
    color: #d7dadc;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.postContent {
    color: #d7dadc;
    font-family: 'Open Sans', sans-serif;
}

.postStats {
    color: #818384;
    font-size: 13px;
    display: flex;
    align-items: center;
}
